@charset "utf-8";

html, body{
height:100%;
color:#C0C0C0;
background-color:#000000;
font-family:Verdana, Geneva, sans-serif;
font-size:100%;
}
#head{
width:100%;
padding:0px;
border:0px;
margin:0px; 
position:fixed;
height:110px;
top:0px;
left:0px;
color:#C0C0C0;
background:#000000;
z-index:1;
}
#foot{
width:100%;
padding:5px;
border:0px;
margin:0px; 
position:fixed;
height:20px;
bottom:0px;
color:#C0C0C0;
background:#000000;
z-index:1;
}
#toc{
width:180px;
padding:5px;
border:0px;
margin:0px; 
position:fixed;
left:0px;
top:110px;
color:#C0C0C0;
background:#000000;
z-index:1;
}
#content{
width:83%;
padding:5px;
padding-bottom:35px;
border:0px;
margin:0px; 
position:relative;
top:110px;
left:185px;
color:#C0C0C0;
background:#000000;
z-index:0;
}
h1{
text-align:center;
font-family:Georgia, serif;
margin:20px;
color:#FF0000;
background-color:#000000;
}
h2,h3{
text-align:left;
font-family:Georgia, serif;
margin:15px;
color:#FF0000;
background-color:#000000;
}
h4{
text-align:center;
font-family:Georgia, serif;
margin:10px;
color:#C0C0C0;
background-color:#000000;
}
p{
margin:15px;
font-size:0.875em;
line-height:130%;
}
ol{
padding-left:50px;
font-size:0.875em;
line-height:130%;
}
ul{
list-style-type:none;
}
.center{
margin-left:auto;
margin-right:auto;
width:250px;
}
strong{
font-weight:bold;
}
p.runes:first-line {
font-weight:bold;
font-size:1.07em;
}
p.foot{
margin:0px;
}
.botr {
color:#FFFFFF;
background-color:#000000;
}
.image{
height:auto;
width:auto;
}
#skarunes{
font-weight:bold;
font-size:2.50em;
word-spacing:-10px;
text-align:center;
}
#bloodbowl{
width:97%;
font-size:0.80em;
text-align:justify;
}
#clans{
padding:15px;
}
#eshin{
width:75%;
}
a:link {
color:#00FF00;
background-color:#000000;
}
a:visited {
color:#008000;
background-color:#000000;
}
a:hover {
color:#00FF00;
background-color:#000000;
}
a:active {
color:#FFFFFF;
background-color:#000000;
}
a.alphabet{
text-decoration:none;
}